body {
    background-color: gray;
  }
  .yinyang {
     width: 300px;
     height: 300px;
     border-radius: 50%;
     background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#000000 51%,#000000 100%);
   }
    .yinyang::before {
      content: '';
      display: block;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #000;
      margin-left: 75px;  
      border: 60px solid #fff;
    }
    .yinyang::after {
      content: '';
      display: block;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #fff;
      margin-left: 75px;  
      border: 60px solid #000;
    }